<input type="text" name="search" class ="search-box" placeholder="Search - trends/tweets">

<div class="tweet-feed">
  <%= TwitterApi.feed.each do |tweet| %>
  <li> <%= parsed_tweet tweet %></li><hr>
  <% end %>
</div>
